/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*my styles*/
@import url(http://fonts.googleapis.com/css?family=Capriola);
html {
    font-size: 10px;
    font-family: Capriola, Helvetica, sans-serif;
}
body {
    margin: 5px 0 5px 5px;
}
body > header {
    margin: 0px 5px 0 5px;
    height: 100px;
    width: 100%;
}
#gallery {
    height: 100%;
    width: 100%;
}
.homeSlide {
    height: 100%;
    width: 100%;
}


/* Navigation menu*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
    width: 100%;
    height: 60px;
    padding-bottom: 4px;
}
#cssmenu .bg-lang {
    display: none;
}

#cssmenu.align-right ul li {
    float: right;
    margin-right: 0;
    margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
    height: 10px;
    background: #0f71ba;
}
#cssmenu #bg-two {
    height: 59px;
    z-index: 2;
}
#cssmenu #bg-three {
    bottom: 4px;
    height: 55px;
    z-index: 3;
    background: #222222;
    background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
    background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
    bottom: 4px;
    height: 55px;
    z-index: 4;
}
#cssmenu ul {
    height: 59px;
}
#cssmenu ul li {
    float: left;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}
#cssmenu ul li a {
    padding: 24px 30px 20px 30px;
    margin-bottom: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #eeeeee;
    font-size: 2em;
    text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
    border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
    background: #0f71ba;
    background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
    background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li:hover  .en-lang,  #navigation-mobile ul li:hover .en-lang {
    display: none;
}
#cssmenu ul li:hover  .bg-lang, #navigation-mobile ul li:hover .bg-lang {
    display: block;
    font-weight: bold;
}

/* Mobile navigation */

.site-nav-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    background-color: #868686;
    width: 100%;
    visibility: hidden;
    padding: 5px;
}

.site-nav-toggle svg {
    vertical-align: middle;
}

#navigation-mobile {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 1em;
}
#navigation-mobile .bg-lang {
    display: none;
}

#navigation-mobile ul {
    list-style: none;
    border-top: 1px solid #ffffff;
    padding: 0;
}
#navigation-mobile ul a {
    text-decoration: none;
    color: #ffffff;
}

#navigation-mobile li {
    background: #868686;
    padding: 2%;
    height: 1.5em;
    line-height: 2em;
    border-bottom: 1px solid #ffffff;
    font-size: 2em;
    letter-spacing: 2px;
}

#navigation-mobile li:active {
    background: #9389d0;
}

#navigation-mobile li:hover {
    background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
    background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
    background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
}


/*HEADER AND FOOTER */

.entry-header {
    padding-top: 0px;
    background-color: #fff;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    /*z-index: 9000*/
}
.entry-header .inner {
    text-align: left;
    margin: 0 auto 20px auto;
    width: 100%;
}

/*.entry-footer {*/
    /*padding-top: 20px;*/
    /*background-color: #b3d4fc;*/
    /*width:100%;*/
/*}*/
/*.entry-footer .inner {*/
    /*text-align: left;*/
    /*margin: 0 auto 20px auto;*/
    /*width: 100%;*/
/*}*/
.footer {
    font-family: Tahoma, sans-serif;
    font-size: 1.5em;
    width: 100%;
    background-color: #234465;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px 0 50px;
    box-sizing: border-box;
}
.btns {
    display: flex;
    flex-flow: column;
    /*border: 1px solid #ffffff;*/
    width: 100px;
    justify-content: flex-start;

}
.btns a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 30px;
    /*border: 2px solid #ff9b18;*/
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
}
.btns a img {
    width: 100%;
    height: 100%;
}
.links {
    /*border: 1px solid #ffffff;*/
    margin-bottom: 30px;
}

.links header {
    color: #ff9b18;
    font-weight: bold;
}
.links ul a {
    text-decoration: none;
    color: #ffffff;
    line-height: 25px;
}
.links:nth-of-type(4) {
    max-width: 300px;
}
.logo-divs {
    display: inline-block;
    width: 30px;
    height: 30px;
    /*border: 1px solid #ffffff;*/
    margin-right: 10px;
    margin-top: 15px;
}
.logo-divs img {
    width: 100%;
}


/*main content for home page */

#content-wrapper {
    border: 2px solid;
    width: 95%;
    margin-top: 105px;
    margin-right: 1em;
    font-size: 1.5em;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

aside {
    padding: 1em;
    max-width: 250px;
    border: 1px solid #b8b8b8;
    border-radius: 1em;
    background-color: #eeeeee;
}
aside header {
    font-weight: bold;
    color: #79ba11;
    height: auto;
}
aside h1 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: #79ba11;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

aside p {
    margin-bottom: 2.5em;
    line-height: 1.3em;
}

section.main {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    border: 1px solid;
}
section.main div {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
section.main div img {
    width: 100%;
    height: 100%;
}

/*team page style*/
#content-wrapper {
    margin-bottom: 3em;
}
.team-wrapper {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    justify-content: space-between;
    /*padding: 1em;*/
    /*border: 1px solid;*/
}
.person-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-around;
    /*padding: 1em;*/
    /*border: 1px solid;*/
}

.info-card-layout {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    flex-basis: auto;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    /*padding: 1em;*/
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 0.5em;
}
.info-card-layout > h1 {
    height: 3em;
    background-color: #c8514d;
    line-height: 3em;
    font-size: 1.2em;
    color: #ffffff;
    padding-left: 1em;
    border-radius: 5px 5px 0 0;
}
.person-info {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em;

}
.person-pic {
    width: 180px;
    height: 120px;
    border: 0.3em solid #ffffff;
}
.person-pic img {
    width: 100%;
    height: 100%;
}
.person-text {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    margin-left: 1em;
}
.person-text h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}
.logo-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
}
.logo-divs {
    width: 40px;
    height: 40px;
    margin-right: 1em;
    /*margin-right: 10px;*/
    /*margin-top: 15px;*/
}
.logo-divs img {
    width: 100%;
}
/*responsive*/
@media only screen and (max-width: 1024px){

    aside {
        max-width: 100%;
        margin-top: 1em;
    }
    .entry-footer {
        width: 100%;
        margin-right: 3em;
    }
    #content-wrapper {
         margin-bottom: 0;
    }
    .person-container {
        justify-content: center;
    }

    /*footer*/
    .links {
        margin-left: 1em;
    }

}

@media only screen and (max-width: 768px){

    #cssmenu {
        visibility: hidden;
    }
    .site-nav-toggle {
        visibility: visible;
    }
    .inner {
        visibility: hidden;
        height: 15px;
    }
    #content-wrapper {
        border: 1px solid;
        margin-top: 110px;
        margin-right: 5em;
        width: 93%;
    }
    #down-arrow {
        width: 25px;
        height: 25px;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 10px;
        right: 47%;
        z-index: 999999;
    }
    /*footer*/
    .footer {
        /*font-size: 10px;*/
        padding: 10px 10px 0 10px;
    }
    /*.btns  {*/
        /*width: 50px;*/
        /*height: 100px;*/
    /*}*/
    /*.btns a {*/
        /*margin-bottom: 5px;*/
        /*line-height: 20px;*/
    /*}*/
    /*.links ul a {*/
        /*line-height: 15px;*/
    /*}*/
    /*.links header {*/
        /*margin-bottom: 5px;*/
    /*}*/
}
@media only screen and (max-width: 640px){
    .person-info {
        flex-flow: column;
        justify-content: center;
        margin-bottom: 1em;
    }
    .person-pic {
        margin-bottom: 1em;
    }

    /*footer*/
    .footer {
        flex-flow: column;
        font-size: 1.8em;
        line-height: 2em;
    }
    section.links:nth-of-type(4) {
        margin-left: 26%;
    }
    .footer section {
        text-align: center;
    }
    iframe {
        margin-left: 80px;
    }
    .btns a {
        margin-left: 50%;
        /*width: 100%;*/
    }
    section.btns.links {
        margin-left: 33%;
    }

    /*.btns {*/
        /*width: 50px;*/
        /*display: flex;*/
        /*flex-flow: row;*/
    /*}*/
    /*.btns a {*/
        /*width: 50px;*/
        /*margin-right: 10px;*/
        /*line-height: 20px;*/
    /*}*/
    /*.btns.links {*/
        /*width: 150px;*/
        /*height: 40px;*/
    /*}*/
}
@media only screen and (max-width: 550px){
    section.links:nth-of-type(4) {
        margin-left: 21%;
    }
}

@media only screen and (max-width: 480px){
    #content-wrapper {
        width: 90%;
        margin-right: 5em;
    }
    section.main {
        padding: 0;
    }
    #content-wrapper {
        padding: 0;
    }
    section.btns.links {
        margin-left: 28%;
    }
    section.links:nth-of-type(4) {
        margin-left: 16%;
    }
}

@media only screen and (max-width: 400px){
    section.links:nth-of-type(4) {
        margin-left: 9%;
    }
    section.btns.links {
        margin-left: 24%;
    }
}

@media only screen and (max-width: 320px){

    #content-wrapper {
        width: 88%;
    }
    section.btns.links {
        margin-left: 17%;
    }

}

