body{
    background-color: #000000;
}
.video{
    border:1px solid black;
    margin-bottom:2em;
}
video{
    width:100%;
    height:100%;
}
textarea{
    width:100%;
    margin-top:4em;
    height:600px;
    font-size: 1.2em;
    border: 1px solid #b8b8b8;
    border-radius: 1em 0 0 1em;
    background-color: #eeeeee;
    padding: 1em;
    /*background-color: #234465;*/
}
section.main{
    width:65%;
}
section div.video{
    margin-bottom:0px;
}


